<div id="nav-kontener">
                <li><a href="/">főoldal</a></li> 
                <li><a href="/subscribers">subscribers</a></li>    
                <li><a href="/articles">szerzok es posztok</a></li>    
                
            </div>