<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Előfizetők</title>
    </head>
    <body>
        <div id="subscribers-kontener">
            <h1>Előfizetők</h1>
            <p>Az első előfizető: <%= nev %></p>
        </div>
    </body>
</html>
